@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 5px;
	height: 30px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px
	
}

#conteudo {
	padding: 0px 8px
	
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 18px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	
	margin: auto;
	width: 290px;
    margin-top: 150px;	
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: absolute;
	top: 10%;
	left :50%; ;
	width: 33px;
	height: 33px
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.produto-tabela input {
	width: 99%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

.ui-state-disabled {
	opacity: .80 !important;
}

.ui-panelgrid-cell {
   padding: 0px 5px !important;
}

. ui-datatable-even {
	padding: 0px 5px !important;
}

. ui-datatable-odd {
	padding: 0px 5px !important;
}


.ui-button-icon-only .ui-button-text {
  padding: .1em !important;
  text-indent: -9999999px;
}




/* mexe na altura */
.ui-panelgrid td {
  height: 30px ;
}

/* mexe na altura do titulo*/
.ui-widget-header td{
	height: 20px ;
}

#botaoTab{	
	position: absolute;
	top: 1px;
	left: 500px;
}

.rotuloCampo{
	font-weight: bold;
}

.rotuloCadastro4{
width: 40px	
}

.campoCadastro4{
width: 150px		
}

.campoCadastro2{
width: 98%		
}

.rotuloCadastro2{
width: 15px	
}


.campoHora8{
width: 30px	!important;

}

/* zebra panel-grid*/
.list-row-even1 {
      background-color : #EFEFEE
}

.list-row-odd {
      background-color : white
}

/* escurece submenu*/
.menu-sistema .ui-menu-parent > a .ui-menuitem-text  {
    color: black !important;
} 


/* usado na datatable acerto styleclass*/
.fonteMenor { 
font-size: 12px !important; 
} 


/* usado para colorir row do datatable*/
.SUCCESS{
background-color : green !important;
}

.FALTA{
 color: #FF0000 !important; 
}

.ATRASO{
color: #FF4040 !important; 
}


.DIVERGENCIA{
color: #FF7F00 !important;
}

.DEFAULT{
color: black !important; 
}

.ABONADO{
color: blue !important; 
}

.HE{
 color: #008B8B !important; 
}

#map-canvas{
 height: 350px;
 width:720px;
 float:center;
 
}

